**/*.o
**/*.obj
**/*.lo
**/*.pyc
**/*.pyo
#*.pyd
**/.git/
**/*.exe
**/*.pdb
**/*.log
**/*.pch
**/*.tlog/
**/*.idb
**/*~
**/*.ipch
**/*.VC.db
**/.vs/
**/.qtc_clangd/
**/*.ilk
**/*archive/
**/*archives/
**/*backup/
**/*bin/
**/*netdisk/
**/testout/
**/*.sdf
**/book/
**/*.apk
**/*~
#*.dll
**/*.test
**/*.pack
**/*temp/
**/*.temp
**/*cache/
**/*.7z
**/*.recycle
**/*download/
